{% extends "base.html" %}

{% block content %}

  {% if businesses %}
    {% for business in businesses %}    
    <div class="row">
      <div class="col m-4">
        <h3>{{ business.name }}</h3>
        <h4>{{ business.phone }}</h4>
        <p>{{ business.id }}</p>
        <p>{{ business.rating }}</p>
        <p>{{ business.price }}</p>
        <p>{{ business.url }}</p>
        <p>{{ business.image_url }}</p>
        <p>{{ business.coordinates }}</p>
        <p>{{ business.location }}</p>
        <p>{{ business.transactions }}</p>
        <p>{{ business.categories }}</p>
      </div>
    </div>
    {% endfor %}
  {% endif %}

{% endblock %}
