{% extends "base.html" %}

{% block content %}
<form>
  <input type="text" name="search" placeholder="Search..">
</form>

  {% if businesses %}
    {% for business in businesses %}    
    <div class="row">
      <div class="col m-4">
        <h3>{{ business.name }}</h3>
        <p>{{ business.id }}</p>
        <p>{{ business.alias }}</p>
        <p>{{ business.location }}</p>
        <p>{{ business.coordinates }}</p>
        <p>{{ business.phone }}</p>
      </div>
    </div>
    {% endfor %}
  {% endif %}

{% endblock %}
